@page
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    <ul>
        <li>
            <a href="~/form">Test mode 5</a>
        </li>
        <li>
            <a href="~/soap">Test mode 6</a>
        </li>
    </ul>

</div>
</body>
</html>